__pycache__/
*.py[c]
/.idea/dataSources.ids
/.idea/dataSources.local.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries/
/.idea/inspectionProfiles/
/pyvenv/
/.vagrant/
/docs/build/
/docker/nginx/ssl-cert.pem
/docker/nginx/ssl-key.pem
