{% extends "resources/domain.html" %}

{% block resources_body %}
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th>domain</th>
            </tr>
            </thead>
            <tbody>
            {% for domain in domain_list %}
                <tr>
                    <td>
                        <a href="{% url "resources:domain-edit" domain.id %}"
                           title="edit vlan"
                        ><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url "resources:domain-delete" domain.id %}"
                           title="delete vlan"
                        ><span class="glyphicon glyphicon-remove"></span></a>
                        &nbsp;
                        <a href="{{ domain.get_absolute_url }}"
                           title="{{ domain }} details"
                        >{{ domain }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default btn-sm"
           href="{% url "resources:domain-new" %}"
        ><span class="glyphicon glyphicon-plus"></span>&nbsp;add domain</a>
    </div>
{% endblock %}

